In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# create path 
path = r'C:\Users\Christian\Desktop\Mein Ordner\CF\Data Immersion\Achievement6\Achievement6-Project'

In [3]:
# import dataframe
df = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'Air_Traffic_Cargo_Statistics.csv'))

In [4]:
df.head()

,Activity Period,Activity Period Start Date,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Cargo Type Code,Cargo Aircraft Type,Cargo Weight LBS,Cargo Metric TONS,data_as_of,data_loaded_at
0,199907,01-07-1999,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Cargo,Passenger,349048,158.328173,20-11-2023 07:01,20-11-2023 07:02
1,199907,01-07-1999,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Mail,Passenger,122003,55.340561,20-11-2023 07:01,20-11-2023 07:02
2,199907,01-07-1999,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Cargo,Passenger,514450,233.354520,20-11-2023 07:01,20-11-2023 07:02
3,199907,01-07-1999,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Mail,Passenger,89776,40.722394,20-11-2023 07:01,20-11-2023 07:02
4,199907,01-07-1999,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Deplaned,Cargo,Passenger,13086,5.935810,20-11-2023 07:01,20-11-2023 07:02

In [5]:
#rename columns
df.rename(columns = {'data_as_of' : 'last_update', 'data_loaded_at' : 'upload_date'}, inplace = True)

In [6]:
df.drop(columns = ['Operating Airline IATA Code', 'Published Airline IATA Code'])

,Activity Period,Activity Period Start Date,Operating Airline,Published Airline,GEO Summary,GEO Region,Activity Type Code,Cargo Type Code,Cargo Aircraft Type,Cargo Weight LBS,Cargo Metric TONS,last_update,upload_date
0,199907,01-07-1999,ATA Airlines,ATA Airlines,Domestic,US,Deplaned,Cargo,Passenger,349048,158.328173,20-11-2023 07:01,20-11-2023 07:02
1,199907,01-07-1999,ATA Airlines,ATA Airlines,Domestic,US,Deplaned,Mail,Passenger,122003,55.340561,20-11-2023 07:01,20-11-2023 07:02
2,199907,01-07-1999,ATA Airlines,ATA Airlines,Domestic,US,Enplaned,Cargo,Passenger,514450,233.354520,20-11-2023 07:01,20-11-2023 07:02
3,199907,01-07-1999,ATA Airlines,ATA Airlines,Domestic,US,Enplaned,Mail,Passenger,89776,40.722394,20-11-2023 07:01,20-11-2023 07:02
4,199907,01-07-1999,Aeroflot Russian International Airlines,Aeroflot Russian International Airlines,International,Europe,Deplaned,Cargo,Passenger,13086,5.935810,20-11-2023 07:01,20-11-2023 07:02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53867,202309,01-09-2023,Vietnam Airlines JSC,Vietnam Airlines JSC,International,Asia,Deplaned,Cargo,Passenger,265897,120.610879,20-11-2023 07:01,20-11-2023 07:02
53868,202309,01-09-2023,Vietnam Airlines JSC,Vietnam Airlines JSC,International,Asia,Enplaned,Cargo,Passenger,77518,35.162165,20-11-2023 07:01,20-11-2023 07:02
53869,202309,01-09-2023,Virgin Atlantic,Virgin Atlantic,International,Europe,Deplaned,Cargo,Passenger,212137,96.225343,20-11-2023 07:01,20-11-2023 07:02
53870,202309,01-09-2023,Virgin Atlantic,Virgin Atlantic,International,Europe,Enplaned,Cargo,Passenger,196029,88.918754,20-11-2023 07:01,20-11-2023 07:02
53871,202309,01-09-2023,ZIPAIR Tokyo Inc,ZIPAIR Tokyo Inc,International,Asia,Deplaned,Cargo,Passenger,489440,222.009984,20-11-2023 07:01,20-11-2023 07:02

In [7]:
df.to_csv(os.path.join(path, 'Data', 'Prepared Data', 'Air_Cargo_Stats_cleaned.csv'))